<template>
  <el-menu default-active="2"
           class="el-menu-vertical-demo asidemenu"
           :unique-opened="true"
           :router='true'>
    <el-submenu :index="item1.path"
                v-for="(item1) in menulist"
                :key='item1.id'>
      <template slot="title">
        <i class="el-icon-location"></i>
        <span>{{item1.authName}}</span>
      </template>
      <el-menu-item-group>
        <el-menu-item :index="'/home/'+item2.path"
                      v-for="(item2) in item1.children"
                      :key='item2.id'>
          <i class="el-icon-menu"></i>{{item2.authName}}
        </el-menu-item>
      </el-menu-item-group>
    </el-submenu>
  </el-menu>
</template>

<script>
export default {
  created () {
    this.getmenu()
  },
  data () {
    return {
      menulist: [] // 用户权限所对应的菜单列表
    }
  },
  methods: {
    // 获取对应用户所能看到的菜单
    async getmenu () {
      let res = await this.$http.get('menus')
      let { meta, data } = res.data
      if (meta.status === 200) {
        this.menulist = data
      }
    }
  }
}
</script>

<style>
.asidemenu {
  height: 100%;
}
</style>
