<template>
  <el-row>
    <el-col :span='6'><div><img src="../../../../static/u=1443363049,2126817861&fm=15&gp=0.jpg" alt="" style='height: 60px;'></div></el-col>
    <el-col :span='12'><h1 style='text-align: center'>电商后台管理系统</h1></el-col>
    <el-col :span='6'><div style='text-align: right;'><el-button @click='loginback' type="primary" round>退出</el-button></div></el-col>
  </el-row>
</template>

<script>
export default {
  methods: {
    loginback () {
      this.$confirm('是否确认退出?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'info'
      }).then(() => {
        this.$message({
          type: 'success',
          message: '成功退出登录!'
        })
        localStorage.setItem('token', '')
        this.$router.push('/login')
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '退出登录失败'
        })
      })
    }
  }
}
</script>

<style>
</style>
