<template>
  <div class="home">
    <div class="navtop">
      <el-container>
        <el-header>
         <navtop></navtop>
        </el-header>
        <el-container class="dowm">
          <el-aside width="200px" style='hieght: 100%;'>
           <asides></asides>
          </el-aside>
          <el-main style='overflow: auto; height: 100%'>
            <router-view></router-view>
          </el-main>
        </el-container>
      </el-container>
    </div>
  </div>
</template>

<script>
import navtop from '../layout/navtop/navtop.vue'
import asides from '../layout/aside/aside.vue'
export default {
  components: {
    navtop,
    asides
  }
}
</script>

<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  text-align: center;
  line-height: 60px
}
.el-aside {
  background-color: #d3dce6;
  color: #333;
}
.el-main {
  background-color: #e9eef3;
  color: #333;
}
.navtop > .el-container {
  height: 100%;
}
.dowm {
  display: flex;
}
.navtop {
  height: 100%;
}
.home {
  height: 100%;
}
</style>
